
@if (_rightToLeft == false)
{
    <MudNavMenu  >
        <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home" Href=""> Home</MudNavLink>
        <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Store" Href="ProductsList">Porducts</MudNavLink>
        <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.LibraryBooks" Href="Dashboard"> Dashboard</MudNavLink>
        <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.AddCircle" Href="Buyproduct">Buyproduct</MudNavLink>
        <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Sell" Href="Sellproduct">Sellproduct</MudNavLink>
        <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.AccountBox" Href="Accounting">Accounting</MudNavLink>
        @* <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.KeyboardOptionKey" Href="Options">Settings</MudNavLink> *@
        <MudNavGroup Title="Settings" Icon="@Icons.Material.Filled.Settings" Expanded="_open">
            <MudNavGroup Title="Currency" Icon="@Icons.Material.Filled.CurrencyExchange" Expanded="_open">
                <MudNavLink Match="NavLinkMatch.All"  Href="">Syrian Pound</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Href="">Euro</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Href="">Dollars</MudNavLink>
            </MudNavGroup>
        </MudNavGroup>

    </MudNavMenu>
}
else
{
    <MudNavMenu>
        <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home" Href=""> <h5>الصفحة الرئيسية </h5></MudNavLink>
        <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Store" Href="ProductsList"> <h5>المنتجات  </h5></MudNavLink>
        <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.LibraryBooks" Href="Dashboard"> <h5>إدارة البيانات</h5></MudNavLink>
        <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.AddCircle" Href="Buyproduct"><h5>شرء منتج</h5></MudNavLink>
        <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Sell" Href="Sellproduct"><h5>مبيع منتج</h5></MudNavLink>
        <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.AccountBox" Href="Accounting"><h5>المحاسبة</h5></MudNavLink>
        <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.KeyboardOptionKey" Href="Options"><h5>إعدادات</h5></MudNavLink>
    </MudNavMenu>
}
@code {
    [Parameter]public bool _rightToLeft { get; set; }
    [Parameter] public bool _open { get; set; }

}