@page "/Dashboard"

@using System.Net.Http.Json
@using System.ComponentModel.DataAnnotations
@inject IDialogService DialogService
@inject IGenericService<Product> ProductService
@inject IGenericService<Brand> brandservice
@inject IGenericService<Category> categoryService
@inject IGenericService<ImageModel> imageserivce
@inject ISnackbar Snackbar



@using Microsoft.EntityFrameworkCore;
<style>
    .continer {
        width: 100%;
        padding: 18px 0;
        position: relative;
        display: flex;
        justify-content: end;
        align-items: center;
    }

</style>



<MudPaper Width="250px" Class="py-3" Elevation="0">
    <MudNavMenu>
        <MudText Typo="Typo.h6" Class="px-4"><h3>إضافات</h3></MudText>
        <MudDivider Class="my-2" />
        <MudNavLink @onclick="OpenDialog" Icon="@Icons.Material.Filled.AddTask" IconColor="Color.Success"><h4>إضافة منتجات</h4></MudNavLink>
        <MudNavLink @onclick="OpenDialogBrand" Icon="@Icons.Material.Filled.BrandingWatermark" IconColor="Color.Primary"><h4>إضافة علامة تجارية</h4></MudNavLink>
        <MudNavLink @onclick="OpenDialogCategory" Icon="@Icons.Material.Filled.Category" IconColor="Color.Info"><h4>إضافة صنف</h4></MudNavLink>
    </MudNavMenu>
</MudPaper>


@if (filteredProducts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="m-4">

    <MudIconButton Icon="@Icons.Material.Filled.Refresh"  OnClick="OnInitializedAsync" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" />
    </div>

    <MudTable Items="@filteredProducts"
              Hover="true"
              Editable="true"
              Breakpoint="Breakpoint.Sm"
              Loading="@_loading"
              LoadingProgressColor="Color.Info"
              EditTrigger="@TableEditTrigger.EditButton"
              Striped="true">
        <ToolBarContent>
            <MudTextField T="string" Label="Search" @bind-Value="searchString" TextChanged="FilterProducts" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            @* <MudTh>ID</MudTh> *@
            <MudTh>Brand</MudTh>
            <MudTh>Category</MudTh>
            <MudTh>Name</MudTh>
            <MudTh>Description</MudTh>
            <MudTh>Quantity</MudTh>
            <MudTh>Buy Price </MudTh>
            <MudTh>Sell Price </MudTh>
            <MudTh>BarCode</MudTh>
            <MudTh>ImageName</MudTh>
            <MudTh>Edit</MudTh>
            <MudTh>Delete</MudTh>
        </HeaderContent>
        <RowTemplate>

            @if (_readOnly == true)
            {
                @* <MudTd DataLabel="Id">@context.Id</MudTd> *@
                <MudTd DataLabel="Brand">@context.Brand?.Name</MudTd>
                <MudTd DataLabel="Categor">@context.Category?.Name</MudTd>
                <MudTd DataLabel="Name">@context.Name</MudTd>
                <MudTd DataLabel="Description">@context.Description</MudTd>
                <MudTd DataLabel="Quantity" HideSmall="_hidePosition">@context.Quantity</MudTd>
                <MudTd DataLabel="Buy Price">@context.BuyPrice.ToString("C", new System.Globalization.CultureInfo(Currency))</MudTd>
                <MudTd DataLabel="Sell Price">@context.SellPrice.ToString("C", new System.Globalization.CultureInfo(Currency))</MudTd>
                <MudTd DataLabel="BarCode">@context.BarCode</MudTd>
                <MudTd DataLabel="BarCode">@context.Image?.ImageName</MudTd>
                <MudTd DataLabel="Edit"><MudIconButton Icon="@Icons.Material.Filled.Edit" Class="mx-2" OnClick="@(() => show(context.Id))" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium" /></MudTd>
                <MudTd DataLabel="Delete"><MudIconButton Icon="@Icons.Material.Filled.Delete" OnClick="@(() => SureDialog(context.Id))" Variant="Variant.Filled" Color="Color.Error" Size="Size.Medium" /></MudTd>
            }
            else
            {
                @* <MudTd DataLabel="Id">@context.Id</MudTd> *@
                <MudTd>
                    <MudSelect T="string" Label="brands" @onclick="OnDialogClose" @bind-Value="BrandValue" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var filter in brands)
                        {
                            <MudSelectItem Value="filter.Name" />
                        }
                    </MudSelect>
                </MudTd>
                <MudTd>
                    <MudSelect T="string" Label="category" @onclick="OnDialogClose" @bind-Value="CategoryValue" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var filter in category)
                        {
                            <MudSelectItem Value="filter.Name" />
                        }
                    </MudSelect>
                </MudTd>
                <MudTd><MudTextField T="string" Label="Name" @bind-Value="context.Name" Required="true" RequiredError="Name is required!" /></MudTd>
                <MudTd><MudTextField T="string" Label="Description" @bind-Value="context.Description" /></MudTd>
                <MudTd><MudTextField T="int" Label="Quantity" @bind-Value="context.Quantity" Required="true" RequiredError="Quantity is required!" /></MudTd>
                <MudTd><MudTextField T="double" Label="Buy Price" @bind-Value="context.BuyPrice" Required="true" RequiredError="Buy Price is required!" /></MudTd>
                <MudTd><MudTextField T="double" Label="Sell Price" @bind-Value="context.SellPrice" Required="true" RequiredError="Sell Price is required!" /></MudTd>
                <MudTd><MudTextField T="int" Label="BarCode" @bind-Value="context.BarCode" Required="true" RequiredError="BarCode is required!" /></MudTd>
                <MudTd>
                    <MudSelect T="string" Label="ImageValue" @bind-Value="@ImageValue" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var filter in images)
                        {
                            @if (filter.ImageName != "0.jpg")
                            {
                                <MudSelectItem Value="filter.ImageName" />
                            }
                        }

                    </MudSelect>
                </MudTd>
                <MudTd>
                    <MudIconButton Icon="@Icons.Material.Filled.Save" OnClick="@(() => EditProduct(context))" Class="mx-2" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium" />
                    @if (_Loadding)
                    {
                        <MudProgressCircular Color="Color.Secondary" Indeterminate="true" Size="Size.Small" />
                    }
                </MudTd>
                <MudTd><MudIconButton Icon="@Icons.Material.Filled.Close" OnClick="@(() => Close())" Variant="Variant.Filled" Color="Color.Error" Size="Size.Medium" />    </MudTd>
            }
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
}
@code {
    private bool _hidePosition;
    bool _Loadding = false;
    private bool _loading;
    private string searchString = "";
    private bool _readOnly = true;
    private string BrandValue { get; set; }
    private string CategoryValue { get; set; }
    private string ImageValue { get; set; }
    public string Currency { get; set; } = "ar-SY";

    [Parameter] public bool shownow { get; set; }
    // [Parameter] public EventCallback<bool> shownow { get; set; }


    private readonly DialogOptions _dialogOptions = new() { FullWidth = true };

    public IEnumerable<Product> products = new List<Product>();
    public IEnumerable<Product> filteredProducts = new List<Product>();
    public IEnumerable<Brand> brands = new List<Brand>();
    public IEnumerable<Category> category = new List<Category>();
    public IEnumerable<ImageModel> images = new List<ImageModel>();

    public async Task show(int id)
    {
        await OnInitializedAsync();
        if (CategoryValue == null || BrandValue == null || ImageValue == null)
        {
            CategoryValue = products.Where(x => x.Id == id).Select(x => x.Category?.Name).FirstOrDefault();
            BrandValue = products.Where(x => x.Id == id).Select(x => x.Brand?.Name).FirstOrDefault();
            ImageValue = products.Where(x => x.Id == id).Select(x => x.Image?.ImageName).FirstOrDefault();
        }
        _readOnly = false;
    }
    public void Close() => _readOnly = true;
    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; }
    //start modal
    private bool showInnerComponentDone = false;
    //end modal


    private Task OpenDialogBrand()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        return DialogService.ShowAsync<Createbrand>("add brand ", options);
    }
    private Task OpenDialogCategory()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        return DialogService.ShowAsync<Cateorey>("add Cateorey ", options);
    }

    private Task OpenDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true  };
         OnInitializedAsync();
        return DialogService.ShowAsync<Createproduct>("add product", options);  
    }

    private async Task OnDialogClose()
    {

        // Refresh the product list after dialog closes
        await OnInitializedAsync();
    }
    protected override async Task OnInitializedAsync()
    {
        var request = await ProductService.GetAllAsync();
        if (request.Success) products = request.Data!;
        filteredProducts = products;
        var requestbrand = await brandservice.GetAllAsync();
        if (requestbrand.Success) brands = requestbrand.Data!;

        var requestGategory = await categoryService.GetAllAsync();
        if (requestGategory.Success) category = requestGategory.Data!;

        var requestImage = await imageserivce.GetAllAsync();
        if (requestImage.Success) images = requestImage.Data!;

    }
    private async Task deleteData(int id)
    {
        success = true;
        var product = createProduct;

        var request = await ProductService.DeleteAsync(id);
        if (request.Success)
        {
            StateHasChanged();
            Snackbar.Add(request.Message, Severity.Success);
        }
        else Snackbar.Add(request.Message, Severity.Error);


        if (request.Success) await OnInitializedAsync();


        filteredProducts = products;
        StateHasChanged();

    }
    // start code form
    Product createProduct = new Product();
    Brand CreateBrand = new Brand();
    ImageModel createImage = new ImageModel();
    Category createcategory = new Category();
    bool success;

    // end code form


    private void FilterProducts() //Filtering Func
    {
        if (string.IsNullOrWhiteSpace(searchString)) filteredProducts = products;
        else filteredProducts = products.Where(p => p.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase) || p.Id.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase)).ToList();
    }


    //start Edit Func

    private async Task EditProduct(Product product)
    {
        try
        {
            _Loadding = true;
            var GetCategory = await categoryService.FindSingleEntityByConditionAsync(x => x.Name == CategoryValue);
            if (GetCategory.Success) product.CategoryId = GetCategory.Data!.Id;
            else Snackbar.Add(GetCategory.Message, Severity.Error);
            var GetBrand = await brandservice.FindSingleEntityByConditionAsync(x => x.Name == BrandValue);
            if (GetBrand.Success) product.BrandId = GetBrand.Data!.Id;
            else Snackbar.Add(GetBrand.Message, Severity.Error);
            var GetImage = await imageserivce.FindSingleEntityByConditionAsync(x => x.ImageName == ImageValue);
            if (GetImage.Success) product.ImageId = GetImage.Data!.Id;
            else Snackbar.Add(GetImage.Message, Severity.Error);
            product.InsertDate = DateTime.Now;

            _readOnly = false;
            var response = await ProductService.UpdateAsync(product.Id, product);
            var requestRefresh = await ProductService.GetByIdAsync(product.Id);

            if (response.Success)
            {
                filteredProducts = products;
                Snackbar.Add("Modify Product with Id :" + product.Id + " Done successfully ", Severity.Success);
                _Loadding = false;
                StateHasChanged();
                FilterProducts();
                Close();
            }
            else Snackbar.Add(response.Message, Severity.Error);
        }
        catch
        {
            Snackbar.Add("Fill All", Severity.Error);
        }
    }
    //End Edit Func
    //start Delete Dialog

    string state = "Message box hasn't been opened yet";

    private async void SureDialog(int id)
    {

            bool? result = await DialogService.ShowMessageBox(
                "تنبيه",
                "هل أنت متأكد من حذف المنتج",
                yesText: "Delete!", 
                cancelText: "Cancel");

            state = result == null ? "Canceled" : "Deleted!";
            if (state == "Deleted!") await deleteData(id);
            StateHasChanged();
  
    }
    //End Delete Dialog
}
