@page "/Buyproduct"

@inject IDialogService DialogService
@inject IGenericService<Product> ProductService
@inject IGenericService<Brand> brandservice
@inject IGenericService<Category> categoryService
@inject IGenericService<ImageModel> imageserivce
@inject ISnackbar Snackbar


<style>
    .continer {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: end;
        align-items: center;
    }
</style>

    <MudContainer Class="my-4 continer">
        <MudButton Variant="Variant.Filled" @onclick="OpenDialogAsync" Color="Color.Info" StartIcon="@Icons.Material.Filled.Add">إضافة منتج للشراء</MudButton>
    </MudContainer>

<MudContainer>
    <MudTable Items="filteredProducts" Striped="true" Hover="true">
        <ToolBarContent>
            <MudTextField T="string" Label="Search" @bind-Value="searchString" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Product Name</MudTh>
            <MudTh>Price</MudTh>
            <MudTh>Category</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Product Name">ProductsList.Name</MudTd>
            <MudTd DataLabel="Price">ProductsList.Price</MudTd>
            <MudTd DataLabel="Category">ProductsList.Category</MudTd>
            <MudTd DataLabel="Actions">
                @* <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => EditProduct(context.Id))">Edit</MudButton> *@
                <MudButton Variant="Variant.Filled" Color="Color.Primary" >Edit</MudButton>
                @* <MudButton Variant="Variant.Outlined" OnClick="Delete" Color="Color.Error">Delete</MudButton> *@
            </MudTd>
        </RowTemplate>
    </MudTable>
    <MudContainer Class="my-4 continer">
        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Primary"  Size="Size.Small">حفظ الفاتورة</MudButton>
    </MudContainer>
</MudContainer>

@* start show dialog  *@


<MudDialog Class="p-5" @bind-IsVisible="showInnerComponent"  >
    <TitleContent>
        <h1>شراء منتج</h1>
    </TitleContent>
    <DialogContent>
        <MudStack Row>
            <MudCard>
                <MudCardContent>
           
                </MudCardContent>
            </MudCard>
        </MudStack>
    </DialogContent>
    <DialogActions>
       
    </DialogActions>
</MudDialog>
@* End show dialog  *@


@* display prodcut start*@
@* <MudTable Items="@products" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading" LoadingProgressColor="Color.Info"> *@
<MudTable Items="@filteredProducts" MultiSelection="true" SelectionChangeable="_selectionChangeable" Hover="true"
              @bind-SelectedItems="selectedItems"  SelectOnRowClick="@_selectOnRowClick">
    <ToolBarContent>
        <MudTextField T="string" Label="Search" @bind-Value="searchString" TextChanged="FilterProducts" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>ID</MudTh>
        <MudTh>Brand</MudTh>
        <MudTh>Category</MudTh>
        <MudTh>Name</MudTh>
        <MudTh>Discount</MudTh>
        <MudTh>Description</MudTh>
        <MudTh>Quantity</MudTh>
        <MudTh>Price </MudTh>
        <MudTh>BarCode</MudTh>
        <MudTh>ImageName</MudTh>
        <MudTh>InsertDate</MudTh>

    </HeaderContent>
    <RowTemplate>
            <MudTd DataLabel="Id">@context.Id</MudTd>
            <MudTd DataLabel="Brand">@context.Brand?.Name</MudTd>
            <MudTd DataLabel="Categor">@context.Category?.Name</MudTd>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Discount">@context.Discount</MudTd>
            <MudTd DataLabel="Description">@context.Description</MudTd>
            <MudTd DataLabel="Quantity">@context.Quantity</MudTd>
            <MudTd DataLabel="Price">@context.Price</MudTd>
            <MudTd DataLabel="BarCode">@context.BarCode</MudTd>
            <MudTd DataLabel="BarCode">@context.Image?.ImageName</MudTd>
            <MudTd DataLabel="InsertDate">@context.InsertDate</MudTd>
    </RowTemplate>
</MudTable>
@* display prodcut end *@
@code {
    bool success;

    MudTextField<string> pwField1;
    MudForm form;
    private bool _loading;
    private List<string> productsList;


    //start Dialog Show
    [CascadingParameter] private MudDialogInstance MudDialog { get; set; }
    private string searchString = "";
    private bool showInnerComponent = false;
    private void OpenDialogAsync() => showInnerComponent = true;
    private void Cancel() => showInnerComponent = false;
    //start product list 
    public IEnumerable<Product> products = new List<Product>();
    public IEnumerable<Product> filteredProducts = new List<Product>();
    Product createProduct = new Product();
    
    private HashSet<Product> selectedItems = new HashSet<Product>();
    private bool _selectOnRowClick = true;
    private bool _selectionChangeable = true;
    private MudTable<Product> _table;
    private string _selectedItemText = "No row clicked";



    protected override async Task OnInitializedAsync()
    {
        var request = await ProductService.GetAllAsync();
        if (request.Success) products = request.Data!;
        filteredProducts = products;
    }
    private void EditProduct(int id)
    {

    }

    private async Task DeleteProduct(int id)
    {

    }
    private async void OnValidSubmit(EditContext context)
    {
        
    }

    private void FilterProducts()
    {
        if (string.IsNullOrWhiteSpace(searchString)) filteredProducts = products;
        else filteredProducts = products.Where(p => p.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase) || p.BarCode.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase)).ToList();
    }
    

 




}
